<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Templates</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body class="container bg-dark text-white">
<!--start codes-->

<p class="display-1 text-uppercase text-center text-primary bordered mt-5">Register</p>

<form th:method="post" th:action="@{/form}" th:object="cv_teacher" >

    <div class="form-group">
        <label for="name_surname">adınız</label>
        <input
            th:field="*{teacherNameSurname}"
            type="text"
            class="form-control"
            placeholder="adınız ve soyadınız" id="name_surname" name="name_surname" autofocus required></div>

    <div class="form-group"><label for="email">adınız</label><input
            th:field="*{teacherEmail}"
            type="text"
            class="form-control"
            placeholder="email" id="email" name="email" autofocus required></div>

    <div class="form-group"><label for="password">adınız</label><input
            th:field="*{teacherPassword}"
            type="text"
            class="form-control"
            placeholder="password" id="password" name="password" autofocus required></div>


    <button type="reset" class="btn btn-danger">Temizle </button>
    <!--  <input type="text" class="btn btn-primary" value="Gönder"> </input>  ne bu kullanışı sacma sor -->

    <button type="submit" class="btn btn-danger">Gonder </button>

</form>


<!--ends codes-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>